node_modules/
.env
.env.local
.env.*.local
.DS_Store
dist/
build/
.vite/
.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.parcelcache
.cache/
*.pem
*.key
*.crt
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
